/*
Copyright (C) 2016-2018 Daniel Edgecumbe (esotericnonsense)
Electron Relocation Limited

This file is part of bitcoin-top.  bitcoin-top is free software: you can
redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3
of the License, or (at your option) any later version.

bitcoin-top is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with bitcoin-top.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.ttf') format('truetype');
}

:root {
    --primary-0: #203D54;
    --primary-1: #1A4971;
    --primary-2: #2368A2;
    --primary-3: #3183C8;
    --primary-4: #63A2D8;
    --primary-5: #AAD4F5;
    --primary-6: #EFF8FF;

    --neutral-0: #212934;
    --neutral-1: #5F6B7A;
    --neutral-2: #8895A7;
    --neutral-3: #B8C4CE;
    --neutral-4: #CFD6DE;
    --neutral-5: #E1E7EC;
    --neutral-6: #F8F9FA;

    --teal-0: #124544;
    --teal-1: #1B655E;
    --teal-2: #2A9187;
    --teal-3: #3CAEA3;
    --teal-4: #6ED7D3;
    --teal-5: #A8EEEB;
    --teal-6: #E7FFFE;

    --green-0: #145239;
    --green-1: #197741;
    --green-2: #259D58;
    --green-3: #38C172;
    --green-4: #74D99F;
    --green-5: #A8EEC1;
    --green-6: #E3FCEC;

    --yellow-0: #5C4813;
    --yellow-1: #8C6D1F;
    --yellow-2: #CAA53D;
    --yellow-3: #F4CA64;
    --yellow-4: #FAE29F;
    --yellow-5: #FDF3D7;
    --yellow-6: #FFFCF4;

    --red-0: #611818;
    --red-1: #891B1B;
    --red-2: #B82020;
    --red-3: #DC3030;
    --red-4: #E46464;
    --red-5: #F5AAAA;
    --red-6: #FCE8E8;
}

body {
    margin: 0; padding: 0; overflow: hidden;
}
* {
    font-family: Lato, monospace;
}
p { margin: 0; }

* { margin: 0; padding: 0; }


div#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 25rem 1fr;
}

div#app.nav_hidden {
    grid-template-columns: 5rem 1fr;
}

div#leftcol {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--primary-2);
    color: var(--neutral-6);
}

div#leftcol.nav_hidden {
    /* TODO: why is this required to kill the scrollbar? */
    overflow-y: hidden;
}
div#leftcol.nav_hidden * {
    display: none;
}
img#hamburger {
    display: block;
    width: 3rem;
    filter: invert(1);
}
img#hamburger {
    margin-top: 1.2rem;
    margin-left: 1rem;
}
img#hamburger:hover {
    opacity: 0.5;
}
img#hamburger:active {
    opacity: 0.75;
}

div#leftcol.nav_hidden img#hamburger {
    display: block;
}

div#leftcol span {
    display: block;
    text-align: left;
    margin: 0 auto;

    font-size: 1.2rem;
    line-height: 3rem;
    padding-left: 1.5rem;

    /* css mate. */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div#leftcol p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
div#leftcol a {
    color: var(--neutral-6);
    font-size: 1.2rem;
    line-height: 1.5rem;
}
div#leftcol a:visited {
    color: var(--neutral-6);
}
div#leftcol a:hover {
    color: var(--neutral-4);
    font-weight: bold;
}
div#leftcol a:active {
    color: var(--neutral-3);
    font-weight: bold;
}

div#leftcol { text-align: center; }
div#rightcol {
    background-color: var(--neutral-6);
    overflow-x: hidden;
    overflow-y: auto;
}
div#rightcol.staging { background-color: var(--red-6); }

img#gplv3img { filter: brightness(100); }

div#range-chooser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
div#data-chooser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
span.range_button, span.data_button { display: block; width: 100%; }

div#header {
    width: 100%;
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    margin-bottom: 0.5rem;
}
div#header.disconnected { background-color: var(--red-3); }
div#header h1 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 5rem;
}

div.invisible { display: none; }

div.section { margin-bottom: 1rem; }
div.section h2 { font-size: 2rem; line-height: 3rem; }

div.c3chart {
    height: 30rem;
}

div.tab { width: 100%; }

div#contact { margin-top: 1rem; }

div#donations img { width: 5rem; }
div#donations a { font-family: monospace; font-size: 1rem; }

div#contact a { font-family: monospace; font-size: 1rem; }

table { width: 100%; }
th, td { text-align: center; border-radius: 0.3rem; }
th { background-color: var(--neutral-5); }
td { background-color: var(--neutral-6); }

div#tab-chooser span.selected { background: var(--primary-1); }
div#tab-chooser span:hover { background: var(--primary-3); }

div#tab-chooser span.selected, div#range-chooser span.selected, div#data-chooser span.selected { font-weight: bold; }

div#range-chooser span, div#data-chooser span {
    text-align: center;
    font-size: 1.1rem;
    line-height: 2.5rem;
    padding: 0;
}
div#range-chooser span.selected { background: var(--green-1); }
div#range-chooser span:hover { background: var(--green-3); }

div#data-chooser span.selected { background: var(--red-1); }
div#data-chooser span:hover { background: var(--red-3) }

[v-cloak] { display: none; }

.blockhashtd { font-size: 75%; }

.c3-chart .c3-line { stroke-width: 3px; }

div.dashboard-block {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "hght hash hash hash"
        "chn  age  down upld"
        "uptm peer hrte hrte"
        "warn warn warn warn"
        "chrt chrt chrt chrt";
}

div.dashboard-item {
    text-align: center;
    font-weight: bold;
    color: var(--neutral-0);
    background-color: var(--neutral-5);
    border-radius: 0.3rem;
    overflow: hidden;
    height: 6rem;
}

div.dashboard-item span {
    display: block;
    line-height: 4rem;
}
div.dashboard-item span.dashboard-item-header {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1rem;
    font-weight: normal;
}

div.dashboard-block div.dashboard-block-hash {
    grid-area: hash;
    font-size: 1.1rem;
}
div.dashboard-block div.dashboard-block-height {
    grid-area: hght;
    font-size: 2rem;
}
div.dashboard-block div.dashboard-block-age {
    grid-area: age;
    font-size: 2rem;
}
div.dashboard-block div.dashboard-block-download {
    grid-area: down;
    font-size: 2rem;
    background-color: var(--green-5);
}
div.dashboard-block div.dashboard-block-upload {
    grid-area: upld;
    font-size: 2rem;
    background-color: var(--red-5);
}
div.dashboard-block div.dashboard-block-uptime {
    grid-area: uptm;
    font-size: 2rem;
}
div.dashboard-block div.dashboard-block-peers {
    grid-area: peer;
    font-size: 2rem;
}
div.dashboard-block div.dashboard-block-mininginfo-hashrate {
    grid-area: hrte;
    font-size: 2rem;
}
div.dashboard-block div.dashboard-block-mininginfo-chain {
    grid-area: chn;
    font-size: 2rem;
}
div.dashboard-block div.dashboard-block-mininginfo-warnings {
    grid-area: warn;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: var(--neutral-6);
    background-color: var(--red-3);
}
div.dashboard-block div.dashboard-mempool-chart {
    grid-area: chrt;
    height: 30rem;
}

div#txcont {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

div.txtable {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
}

div.tx {
    text-align: center;
    background-color: var(--neutral-5);
    border-radius: 0.3rem;
}
div.tx.new {
    color: var(--neutral-6);
    background-color: var(--primary-3);
}
div.tx span {
    display: block;
}
div.tx span.txtxid {
    font-size: 1.1rem;
}
div.tx span.txage {
    font-weight: bold;
    font-size: 2rem;
}
div.tx span.txaddr {
    font-size: 1.5rem;
    font-weight: bold;
}
div.tx span.txamt {
    font-weight: bold;
    font-size: 3rem;
}
div.tx span.txconf {
    font-weight: bold;
    font-size: 2rem;
}

div#wallettable {
    text-align: center;
}

div#wallettable span, div#wallettable div {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 2rem;
}
div#wallettable div#waladdrqr img { margin: 0 auto; }
div#wallettable div#waladdrqr canvas { margin: 0 auto; }
div#wallettable span.waladdr {
    font-size: 1.5rem;
}
div#wallettable span.walbal {
    font-size: 3.5rem;
}
div#wallettable span.walubal {
    font-size: 2rem;
}
div#wallettable span.walubal.new {
    background-color: #ccccff;
}

div#authorsmd, div#gitstatus {
    white-space: pre;
}

div#about {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

/* temporary hacks */
div#tab-block-template, div#tab-mempool-table, div#tab-blocks, div#tab-peers, div#tab-network-chart {
    padding: 1rem;
}

div#debug-console {
    width: 120rem;
    max-width: 90%;
    max-height: 90vh;
    height: 65rem;
    margin: 1rem auto;

    border: 0.5rem solid var(--neutral-0);
    background-color: var(--neutral-0);
    border-radius: 0.3rem;

    display: grid;
    grid-template-rows: 1fr 2rem;

}

input#debug-console-input {
    border: 0.5rem solid var(--neutral-1);
    background-color: var(--neutral-1);
    border-radius: 0.3rem;
}

div#debug-console-output, input#debug-console-input {
    color: var(--neutral-6);
    font-family: monospace;
    font-size: 1rem;
}

div#debug-console-output {
    overflow-x: hidden; /* TODO: word-wrap of sorts */
    overflow-y: auto;
    white-space: pre;
}
input#debug-console-input {
    display: block;
    width: 100%;
    font-weight: bold;
    border: none;
}

video#qrscan {
    width: 100%;
    height: 30rem;
    background-color: var(--neutral-5);
    border-radius: 0.3rem;
}

div#walletsend {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    grid-template-columns: 1fr 2fr;
}
div#walletsendinputs {
    display: grid;
    grid-gap: 1rem;
}
div#walletsendinputs input {
    width: 100%;
}
div#wallet_createpsbt {
    background-color: var(--neutral-4);
    border-radius: 0.3rem;
    display: grid;
    grid-gap: 0;
}
div#wallet_createpsbt span {
    display: block;
    font-weight: bold;
    font-family: monospace;
}
div#walletsend-right-top {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
