<!doctype html>

<!--
Copyright (C) 2016-2018 Daniel Edgecumbe (esotericnonsense)
Electron Relocation Limited

This file is part of bitcoin-top.  bitcoin-top is free software: you can
redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3
of the License, or (at your option) any later version.

bitcoin-top is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with bitcoin-top.  If not, see <http://www.gnu.org/licenses/>.
-->

<head>
    <meta charset="utf-8">
    <title>bitcoin-top</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="c3.css">
    <script src="vue.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="qrcode.min.js"></script>
    <script src="d3.v5.min.js"></script>
    <script src="c3.min.js"></script>
    <script src="instascan.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div id="app" v-cloak
        :class="nav_hidden ? 'nav_hidden' : ''"
    >
        <div
            id="leftcol"
            :class="nav_hidden ? 'nav_hidden' : ''"
        >

        <img
            id="hamburger"
            class="nav_hidden"
            src="Hamburger_icon.svg"
            v-if="nav_hidden"
            v-on:click="toggleNav()"
        >
        </img>

        <div id="header"
            :class="connected ? 'connected' : 'disconnected'"
        >
            <img
                id="hamburger"
                class="nav_shown"
                src="Hamburger_icon.svg"
                v-if="!nav_hidden"
                v-on:click="toggleNav()"
            >
            </img>

            <div class="headertext">
                <h1>
                    bitcoin-top
                </h1>
            </div>
        </div>

        <div id="tab-chooser">
            <span
                v-for="t in tabs"
                :class="tab === t[0] ? 'selected' : 'deselected'"
                v-on:click="setTab(t[0])">
                {{ t[1] }}
            </span>
        </div>

        <div
            id="range-chooser"
            v-if="tab === 'network-chart' || tab === 'dashboard'"
        >
            <span
                v-for="r in ranges"
                :class="range === r[0] ? 'selected' : 'deselected'"
                class="range_button"
                v-on:click="setRange(r[0])">
                {{ r[1] }}
            </span>
        </div>

        <div
            id="data-chooser"
            v-if="tab === 'dashboard'"
        >
            <span
                v-for="d in datas"
                :class="data === d[0] ? 'selected' : 'deselected'"
                class="data_button"
                v-on:click="setData(d[0])">
                {{ d[1] }}
            </span>
        </div>

        <div class="section" id="contact">
            <a href="https://git.esotericnonsense.com/pub/bitcoin-top.git"><img id="gplv3img" src="./agplv3-155x51.png"></img></a>
            <a href="https://esotericnonsense.com">https://esotericnonsense.com</a>
            <a href="mailto:contact@esotericnonsense.com">contact@esotericnonsense.com</a>
        </div>
        <div class="section" id="donations">
            <a href="bitcoin:3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv"><img src="./3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv.png"></img></a>
            <a href="bitcoin:3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv">3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv</a>
        </div>

        </div> <!-- /leftcol -->
        <div id="rightcol" :class="staging ? 'staging' : 'production'">

        <div id="tab-dashboard" class="tab"
            :class="tab === 'dashboard' ? 'visible' : 'invisible'"
        >

            <div class="dashboard-block">
                <div class="dashboard-block-hash dashboard-item">
                    <span class="dashboard-item-header">block hash</span>
                    <span v-if="chaininfo">{{ chaininfo.bestblockhash }}</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-height dashboard-item">
                    <span class="dashboard-item-header">block height</span>
                    <span v-if="chaininfo && blocks[chaininfo.bestblockhash]">{{ blocks[chaininfo.bestblockhash].height }}</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-age dashboard-item">
                    <span class="dashboard-item-header">block age</span>
                    <span v-if="chaininfo && blocks[chaininfo.bestblockhash]">{{ (now - blocks[chaininfo.bestblockhash].time) | timeInterval }}</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-download dashboard-item">
                    <span class="dashboard-item-header">downloaded</span>
                    <span v-if="nettotals">{{ (nettotals.totalbytesrecv / 1024 / 1024).toFixed(0) }}MiB</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-upload dashboard-item">
                    <span class="dashboard-item-header">uploaded</span>
                    <span v-if="nettotals">{{ (nettotals.totalbytessent / 1024 / 1024).toFixed(0) }}MiB</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-uptime dashboard-item">
                    <span class="dashboard-item-header">uptime</span>
                    <span v-if="uptime">{{ uptime | timeInterval }}</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-peers dashboard-item">
                    <span class="dashboard-item-header">peers</span>
                    <span v-if="peers">{{ peers.length }}</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-mininginfo-hashrate dashboard-item">
                    <span class="dashboard-item-header">hashrate</span>
                    <span v-if="mininginfo">{{ (mininginfo.networkhashps/1000000000000).toFixed(0) }}TH/s</span>
                    <span v-else>...</span>
                </div>
                <div class="dashboard-block-mininginfo-chain dashboard-item">
                    <span class="dashboard-item-header">chain</span>
                    <span v-if="mininginfo">{{ mininginfo.chain }}</span>
                    <span v-else>...</span>
                </div>
                <div v-if="mininginfo && mininginfo.warnings" class="dashboard-block-mininginfo-warnings dashboard-item">
                    {{ mininginfo.warnings }}
                </div>
                <div class="dashboard-mempool-chart dashboard-item">
                    <div id="mempoolchart" class="c3chart"></div>
                </div>
            </div>


        </div>

        <div id="tab-wallet-receive" class="tab"
            :class="tab === 'wallet-receive' ? 'visible' : 'invisible'"
        >
                <div id="txcont">
                <div id="wallettable">
                    <template v-if="walletinfo === null">
                        <h1>wallet disabled</h1>
                    </template>
                    <template v-if="walletinfo">
                        <span class="walbal">{{ walletinfo.balance }} BTC</span>
                    </template>
                    <template v-if="walletinfo">
                        <span
                            :class="walletinfo.unconfirmed_balance ? 'new' : ''"
                            class="walubal"
                        >unconfirmed: {{ walletinfo.unconfirmed_balance }} BTC</span>
                    </template>
                    <div id="waladdrqr"></div>
                    <template v-if="unused_address">
                        <span class="waladdr">{{ unused_address }}</span>
                    </template>
                </div>
                <div class="txtable">
                    <template v-if="transactions">
                        <div
                            v-for="tx in transactions"
                            class="tx"
                            :class="(now - tx.timereceived) < 300 ? 'new' : ''"
                        >
                            <span class="txtxid">{{ tx.txid }}</span>
                            <span class="txaddr">{{ tx.address }}</span>
                            <span class="txage">{{ (now - tx.timereceived) | timeInterval }}</span>
                            <span class="txamt">{{ tx.amount }} BTC</span>
                            <span class="txconf">{{ tx.confirmations }} conf</span>
                        </div>
                    </template>
                </div>
                </div> <!-- txcont -->
        </div>

        <div id="tab-wallet-send" class="tab"
            :class="tab === 'wallet-send' ? 'visible' : 'invisible'"
        >
                <div id="walletsend">
                    <div id="walletsend-left">
                        <video
                            id="qrscan"
                            v-on:click="toggleScanner(null)">
                        </video>
                    </div>

                    <div id="walletsend-right" v-if="walletinfo">
                        <div id="walletsend-right-top">
                        <div id="walletsendinputs">
                            <h2>send some bitcoins</h2>
                            <div class="walletsenddiv">
                                <span>address</span>
                                <input
                                    id="wallet_send_address"
                                    type="text"
                                    v-model="wallet_send_address"
                                    v-on:change="submitCreatePSBT()"
                                >
                                </input>
                            </div>
                            <div class="walletsenddiv">
                            <span>amount</span>
                            <input
                                id="wallet_send_amount"
                                type="text"
                                v-model="wallet_send_amount"
                                v-on:input="submitCreatePSBT()"
                            >
                            </input>
                            </div>
                            <div class="walletsenddiv">
                            <span>feerate</span>
                            <input
                                id="wallet_send_feerate"
                                type="text"
                                v-model="wallet_send_feerate"
                                v-on:input="submitCreatePSBT()"
                            >
                            </input>
                            </div>
                            <div class="walletsenddiv">
                            <input
                                v-if="wallet_createpsbt"
                                type="button"
                                v-on:click="submitSubmitPSBT()"
                                value="omg send"
                            >
                            </input>
                            </div>
                        </div>

                        <div id="wallet_createpsbt" v-if="wallet_createpsbt">
                            <span>Fee: {{ wallet_createpsbt.fee }}</span>
                            <span
                                v-for="input in wallet_createpsbt.inputs"
                            >
                                 in {{ input.witness_utxo.amount }}: {{ input.witness_utxo.scriptPubKey.address }}
                            </span>
                            <span
                                v-for="vout in wallet_createpsbt.tx.vout"
                            >
                                <template v-if="vout.n === wallet_createpsbt.changepos">
                                    out CHANGE: {{ vout.value }}: {{ vout.scriptPubKey.addresses[0] }}
                                </template>
                                <template v-else>
                                    out {{ vout.value }}: {{ vout.scriptPubKey.addresses[0] }}
                                </template>
                            </span>
                        </div>
                        </div>

                        <div class="txtable" v-if="transactions">
                            <div
                                v-for="tx in truncatedTransactions"
                                class="tx"
                                :class="(now - tx.timereceived) < 300 ? 'new' : ''"
                            >
                                <span class="txtxid">{{ tx.txid }}</span>
                                <span class="txaddr">{{ tx.address }}</span>
                                <span class="txage">{{ (now - tx.timereceived) | timeInterval }}</span>
                                <span class="txamt">{{ tx.amount }} BTC</span>
                                <span class="txconf">{{ tx.confirmations }} conf</span>
                            </div>
                        </div>

                    </div>
                </div>

        </div>

        <div id="tab-block-template" class="tab"
            :class="tab === 'block-template' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="blocktemplate">
            <h2>
                block template (next update in {{ Math.max(0, Math.floor(15 - (now - last_updated))) | timeInterval }})
            </h2>
            <p>
                the chart shows the feerate at each byte of the block this node would currently generate.
            </p>
            <p v-if="chaininfo && blocks[chaininfo.bestblockhash]">
                last block: {{ blocks[chaininfo.bestblockhash].height }} ({{ (now - blocks[chaininfo.bestblockhash].time) | timeInterval }} ago) [{{ now - blocks[chaininfo.bestblockhash].time | blockIntervalBar }}]
            </p>

            <input type="checkbox" id="checkbox" v-model="bt_logscale" @click="rdBT()" />
            <label for="checkbox">{{ bt_logscale ? "log scale" : "linear scale" }}</label>
        </div>

        <div id="blocktemplatechart" class="c3chart"></div>

        </div>

        <div id="tab-mempool-table" class="tab"
            :class="tab === 'mempool-table' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="mempoolbins">
            <h2>mempool info (next update in {{ Math.max(0, Math.floor(range/4 - (now - last_updated))) | timeInterval }}) (age {{ (now - mempoolbins.time) | timeInterval }})</h2>
            <p>
                Transactions: {{ mempoolbins.size }} {{ mempoolbins.size_segwit !== "?" ? `(${mempoolbins.size_segwit} segwit)` : "" }}
            </p>
            <p>
                Size: {{ mempoolbins.bytes }} bytes
            </p>
            <p>
                Fees: {{ (mempoolbins.fees / 10**5).toFixed(2) }} mBTC
            </p>
        </div>

        <div class="section" v-if="mempoolbins">
            <h2>mempool contents</h2>
            <table>
                <thead>
                    <tr>
                        <th style="border: none;"></th>
                        <th colspan=3>this bin</th>
                        <th colspan=3>cumulative</th>
                    </tr>
                    <tr>
                        <th>limits / sat/b</th>
                        <th>tx</th>
                        <th>size / B</th>
                        <th>amt / mBTC</th>
                        <th>tx</th>
                        <th>size / B</th>
                        <th>amt / mBTC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="bin in mempoolbins.bins">
                        <td>{{ bin[0] }} - {{ (bin[1] < 21*(10**14)) ? bin[1] : 'max' }}</td>
                        <td>{{ bin[2] }}</td>
                        <td>{{ bin[3] }}</td>
                        <td>{{ (bin[4]/(10**5)).toFixed(2) }}</td>
                        <td>{{ bin[5] }}</td>
                        <td>{{ bin[6] }}</td>
                        <td>{{ (bin[7]/(10**5)).toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <div id="tab-blocks" class="tab"
            :class="tab === 'blocks' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="blocks">
            <h2>blocks</h2>
            <table>
                <thead>
                    <th>age</th>
                    <th>height</th>
                    <th>hash</th>
                    <th>fees/mBTC</th>
                    <th>fees/%</th>
                    <th>tx</th>
                    <th>tx<sub>SW</sub>/%</th>
                    <th>log<sub>2</sub>(work)</th>
                    <th>size/MiB</th>
                </thead>
                <tbody>
                    <tr
                        v-for="block in sortedBlocks"
                    >
                        <td>{{ (now - block.time) | timeInterval }}</td>
                        <td>{{ block.height }}</td>
                        <td class="blockhashtd">{{ block.hash }}</td>
                        <td>{{ (block.fees*1000).toFixed(2) }}</td>
                        <td>{{ (block.fees*100/(block.fees + block.subsidy)).toFixed(2) }}</td>
                        <td>{{ block.tx_count }}</td>
                        <td>{{ (block.tx_count_segwit*100/block.tx_count).toFixed(1) }}</td>
                        <td>{{ (Math.log(parseInt(block.chainwork, 16))/Math.log(2)).toFixed(3) }}</td>
                        <td>{{ (block.size/1048576).toFixed(3) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <div id="tab-peers" class="tab"
            :class="tab === 'peers' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="peers">
            <h2>peers</h2>
            <table>
                <thead>
                    <th>address</th>
                    <th>subver</th>
                    <th>inbound</th>
                    <th>connected</th>
                    <th>blocks</th>
                    <th>recv / MiB</th>
                    <th>sent / MiB</th>
                </thead>
                <tbody>
                    <tr
                        v-for="peer in peers"
                    >
                        <td>{{ peer.addr }}</td>
                        <td>{{ peer.subver.replace("<", "").replace(">", "") }}</td>
                        <td>{{ peer.inbound ? "y" : "n" }}</td>
                        <td>{{ (now - peer.conntime) | timeInterval }}</td>
                        <td>{{ peer.synced_blocks }}</td>
                        <td>{{ (peer.bytesrecv/1048576).toFixed(2) }}</td>
                        <td>{{ (peer.bytessent/1048576).toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <div id="tab-network-chart" class="tab"
            :class="tab === 'network-chart' ? 'visible' : 'invisible'"
        >

        <div id="networkchart" class="c3chart"></div>

        </div>


        <div id="tab-debug-console" class="tab"
            :class="tab === 'debug-console' ? 'visible' : 'invisible'"
        >
            <div id="debug-console">
                <div id="debug-console-output">{{ debug_output }}</div>
                <input
                    id="debug-console-input"
                    type="text"
                    v-model="debug_input"
                    v-on:change="submitDebugInput()"
                >
                </input>
            </div>
        </div>

        <div id="tab-about" class="tab"
            :class="tab === 'about' ? 'visible' : 'invisible'"
        >
            <div id="about">
                <div>
                    <template v-if="git_status">
                        <h1>_git_status</h1>
                        <div id="gitstatus">{{ git_status }}</div>
                    </template>
                </div>
                <div>
                    <template v-if="authors_md">
                        <h1>AUTHORS.md</h1>
                        <div id="authorsmd">{{ authors_md }}</div>
                    </template>
                </div>
            </div>

        </div>

        </div> <!-- /rightcol -->
    </div> <!-- /app -->
</body>
